.subTopic {
    margin-left:auto;
    width:18vw;
}
.newTopic{
    width:100%;
    height:10vh;
    background-color: #e0d7b5;
    margin-bottom: 3vh;
}
.weekTopic{
    width:100%;
    height:50vh;
    background-color: white;
}