.header {
  width: 100%;
  height: 73px;
  background-color: var(--primary-color);
  box-shadow: 0 2px 8px var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100%;
  height: 73px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title img {
  height: 38px;
  width: auto;
}
