.createTopic {
  vertical-align: middle;
  width: 300px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}
