.form {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: 0 0;
}
.textarea {
  width: 100%;
  height: 160px;
}
.wrap {
  resize: none;
  font-size: 13px;
  line-height: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 140px;
  padding: 12px 10px;
  border-radius: 4px;
}
.submitComment {
  border: 1px solid;
  text-align: center;
  line-height: 48px;
  display: block;
  width: 50%;
  height: 48px;
  margin: 40px auto 0;
}
