.body{
    display:flex;
    align-items: flex-start; 
    flex-direction: column;
    margin:0;
    width:100%;
    height:100%;
    background-color:#e8f9f0;
}

.contents{
    width:1040px;
    height:970px;
    margin:0 auto;
}

.main{
    float: left;
    background-color: white;
    width:680px;
    box-sizing: border-box  ;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px 20px 40px;
}

.entryWrap{

    margin:0;
    padding:0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
}

.h1{
    line-height: 34px;
    border-bottom: 1px dashed #ff4d5b;
    padding-bottom: 15px;
}


.a{
    width: 300px;
    height:500px;
    background-color: white;
    margin-right: 20px;
    float: right;
}
.formFlow{
    width:641px;
    margin: 21px 0 30px;
}
.inForm {
    display: flex;  
}
.image{
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: 0 0;
}
.topicImg{
    width:130px;
    height:130px;
    background-color: grey;
}
.addImage{
    width: 128px;
    margin-top: 10px;
    margin-right: 0;
}
.other{
    box-sizing: border-box;
    width: 100%;
    padding-left:20px;
}
.title{
    font-size: 13px;
    border: 1px solid #ccc;
    line-height: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 12px 10px;
    border-radius: 4px;
}

.textarea{
    position: relative;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.wrap{
    font-size: 13px;
    line-height: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 140px;
    padding: 12px 10px;
    border-radius: 4px;
}
.createTopicBtn{
    line-height: 48px;
    display: block;
    width: 50%;
    height: 48px;
    margin: 40px auto 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}
