.threadContainer {
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}

.threadHeader,
.threadRow {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    font-size: 13px;
    line-height: 1.3;
    border-bottom: 1px solid #ddd;
}

.threadRow:hover {
    background: #f0f8ff;
    /* ホバー時の背景色 */
}


.threadHeader {
    font-weight: bold;
    background: #f5f5f5;
}


.parentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.controller {
    display: flex;
    margin-left: 5%;
    width: 85%;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

.postControls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}