
*{
    margin:0;
    padding:0;
}
.body{
    display:flex;
    align-items: flex-start; 
    flex-direction: column;
    margin:0;
    width:100%;
    height:100%;
    background-color:#e8f9f0;
}

.contents{
    margin:0 auto;
    width:1040px;
    height:100%
}