.voteContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.upvoteButton,
.downvoteButton {
  border: none;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s;
  min-width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
}

.upvoteButton:hover,
.downvoteButton:hover {
  background-color: #5fd878; /* より明るいグリーン */
  transform: scale(1.1);
}

.upvoteButton:active,
.downvoteButton:active {
  background-color: #4ac067; /* 少し濃いグリーン */
  transform: scale(1);
}

.voteBarContainer {
  flex-grow: 1;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.voteBar {
  display: flex;
  height: 100%;
  transition: width 0.3s ease;
}

.upvoteBar,
.downvoteBar {
  height: 100%;
}
.upvoteBar {
  background-color: #85a5c0; /* 落ち着いたグレイッシュブルー */
}

.downvoteBar {
  background-color: #b8a6a0; /* 柔らかいグレイッシュベージュ */
}
